* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

.header {
  height: 54px;
  background: #fff;
  width: 100%;
  border: 1px solid gainsboro;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 935px;
  margin: 0 auto;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 120px;
}

.navi > .navi-list {
  display: flex;
}
.navi > .navi-list .navi-item {
  flex: 1;
  text-align: center;
  margin: 0 15px;
  display: flex;
}
.navi > .navi-list .navi-item a i {
  font-size: 22px;
  color: #808080;
  margin-top: 4px;
}

@media screen and (max-width: 935px) {
  .header .container {
    width: 100%;
  }
}

.search-bar {
  width: 37%;
  border: 1px solid #c0baba;
  display: inline-block;
  padding: 9px 4px 9px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

.dropdown {
  display: block;
  width: 20%;
  margin: 0 auto;
  background-color: #fff;
}

.dropdown-container {
  margin: 0 auto;
  display: flex;
}
.dropdown-row {
  font-weight: 600;
  cursor: pointer;
}

.p-image {
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
